
  button {
    color: #2b3d52;
      cursor: pointer;
    font-size: 14px;
    padding: 3px 10px 4px 10px;
    margin-left: 15px;
    border-radius: 4px;
    background-color: white;
    margin-top:25px;
  }
  
 
  
 
  
 
  